{% extends "Layout/gameLayout.twig" %}
{% block content %}

<form action="{{ internUrl('/account/settings') }}" method="post" autocomplete="off"
    class="uk-form-horizontal uk-margin-large">

    <h3>Spieler (ID: {{player.getId}})</h3>

    <div class="uk-margin">
        <label class="uk-form-label uk-text-bold uk-text-right" for="player_name">Name</label>
        <div class="uk-form-controls">
            <input class="uk-input" type="text" name="player_name" value="{{player.getName}}">
        </div>
    </div>

    <h3>Account (ID: {{account.getId}})</h3>

    <div class="uk-margin">
        <label class="uk-form-label uk-text-bold uk-text-right" for="account_email">E-Mail Address</label>
        <div class="uk-form-controls">
            <input class="uk-input" type="text" name="account_email" id="account_email" value="{{account.getEmail}}">
        </div>
    </div>

    <div class="uk-margin">
        <label class="uk-form-label uk-text-bold uk-text-right" for="account_password">Passwort ändern</label>
        <div class="uk-form-controls uk-grid-collapse" uk-grid>
            <div class="uk-width-1-2@s">
                <input class="uk-input" type="password" name="account_password">
            </div>
            <div class="uk-width-1-2@s">
                <input class="uk-input" type="password" name="account_password_repeat">
            </div>
        </div>
    </div>

    <button class="uk-button uk-button-default" type="reset">Verwerfen</button>
    <button class="uk-button uk-button-primary" type="submit">Speichern</button>
</form>




{% endblock %}