<!-- 
$scan_range = 5;
$x = 50;
$y = 40;

$this->core->setTemplateVar('map', $this->map->findByScanRange($x, $y, $scan_range));
$this->core->setTemplateVar('scan_range', $scan_range);
$this->core->setTemplateVar('cx', $x);
$this->core->setTemplateVar('cy', $y);

{%include 'Game/_Include/_map.twig'%}

-->

<style>
    table {
        border-collapse: separate;
        border-spacing: 1px;
    }

    td.field {
        border: 1px solid #333;
        width: 32px !important;
        height: 32px !important;
        text-align: center;
        vertical-align: middle;
        line-height: 32px;
        margin: 0 1px 1px 0 !important;
        -webkit-touch-callout: none;
        user-select: none;
    }

    .field:hover {
        border-color: #444 !important;
        cursor: pointer;
    }

    .field.middle {
        border-color: #666;
    }

    .field .scan {
        position: relative;
        display: block;
        color: #c0c0c0;
        text-shadow: -1px 1px 1px #000000, 1px -1px 1px #000000;
    }

    .field .scan .field-object {
        position: absolute;
        right: 0;
        bottom: 0;
    }
</style>
{% set fields = 0 %}

<table>
    {% for map_field in map %}
    {% if fields == 0 %}<tr>{% endif %}
        {% if map_field.getCy == cy and map_field.getCx == cx %}
        <td class="field middle" style="background-image: url('/assets/map/{{ map_field.getMapField.getId }}.png')"
            onclick="generatePopup('{{ map_field.getMapField.getName }}', 'x|y = {{ map_field.getCx }}|{{ map_field.getCy }} - Dein Standort')">
            <div class="scan">
                <!-- Ship Signature -->
                &nbsp;1&nbsp;
                <div class="field-object">
                    <!-- Station ? -->
                    <img src="/assets/map/object/1.png" alt="Object">
                </div>
            </div>
        </td>
        {% else %}
        <td class="field" style="background-image: url('/assets/map/{{ map_field.getMapField.getId }}.png')"
            onclick="generatePopup('{{ map_field.getMapField.getName }}', 'x|y = {{ map_field.getCx }}|{{ map_field.getCy }}')">
            <div class="scan">&nbsp;&nbsp;
                <!-- TEST -->
                {% set random = random(1, 100) %}
                {% if random > 99 %}
                <div class="field-object">
                    <!-- Station ? -->
                    <img src="/assets/map/object/1.png" alt="Object">
                </div>
                {% endif %}
            </div>
        </td>
        {% endif %}
        {% set fields = fields + 1 %}
        {% if fields == (scan_range * 2) + 1 %}
    </tr>{% set fields = 0 %}{% endif %}
    {% endfor %}
</table>