{% extends "Layout/webLayout.twig" %}
{% block content %}

    {% for news in news_list %}
    <article class="uk-article">
        <h1 class="uk-article-title"><a class="uk-link-reset" href="{{ internUrl('#{{ news.getId }}') }}">{{ news.getTitle }}</a></h1>

        <p class="uk-article-meta">{% if news.getAuthor %}Von {{ news.getAuthor.getName }} ({{ news.getAuthor.getId }}){% endif %} am {{ news.getCreatedAt|timestampToDate }} Uhr</p>

        <p>{{ news.getShortText }}</p>

        {% if news.getText|length > 200 %}
        <div class="uk-grid-small uk-child-width-auto" uk-grid>
            <div>
                <a class="uk-button uk-button-text" href="{{ internUrl('#{{ news.getId }}') }}">Read more</a>
            </div>
        </div>
        {% endif %}

    </article>
    {% endfor %}

{% endblock %}