<html lang="de">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title>{{ page_title }}</title>

    <link type="text/css" href="{{ staticPath('css/normalize.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ staticPath('css/main.css') }}" />

    <script type="text/javascript">
        const core_version = '{{ core_version }}';
        const core_token = '{{ core_token }}';
        const player_id = '{{ user.player.getId }}';
        const player_name = '{{ user.player.getName }}';
        const account_sstr = '{{ user.getSessionString }}';
    </script>
    <script type="text/javascript" src="{{ staticPath('js/main.js') }}"></script>
    <script type="text/javascript" src="{{ staticPath('js/popup.js') }}"></script>
</head>

<body>
    <div id="wrap">
        <header id="header">
            <nav id="nav">
                <ul>
                    <li><a href="{{ url('/game/maindesk') }}">Hauptbildschirm</a></li>
                    <li><a href="{{ url('/game/colonies') }}">Kolonien</a></li>
                    <li><a href="{{ url('/game/ships') }}">Schiffe</a></li>
                    <li><a href="{{ url('/game/stations') }}">Stationen</a></li>
                    <li><a href="{{ url('/game/research') }}">Forschung</a></li>
                    <li><a href="{{ url('/auth/logout/' ~ core_token) }}" onclick="return confirm('Willst du dich wirklich ausloggen?');">Ausloggen</a></li>
                </ul>
                <div class="clear"></div>
            </nav>
        </header>

        <section id="content">
            <h1>{{ site_title }}</h1>
            {% if infos %}
            <div style="background-color: #3f3f3f; color: #cacaca; padding: 10px 15px;">
                {% for info in infos %}
                <div>{{ info|e }}</div>
                {% endfor %}
            </div>
            {% endif %}
            <noscript>
                <div class="alert alert-error">
                    Bitte aktiviere JavaScript in deinem Browser.
                </div>
            </noscript>
            {% block content %} ... {% endblock %}
        </section>

        <aside id="sidebar">
            <div class="panel">
                <h3>Willkommen</h3>
                <p>...{{ user.player.getName }} ..</p>
            </div>
        </aside>

        <footer id="footer">
            <div class="copyright">
                &copy; 2021 &ndash; {{ "now"|date("Y") }} &bull; Made with <span
                    style="color:#a30000;font-size:10px;">&#10084;</span>
            </div>
        </footer>

        <div id="debug" style="text-align:center;color:#333333;font-size:9px;margin-top:15px;">
            Rendered in {{ benchmark.executionTime }} - Memory usage: {{ benchmark.memoryPeakUsage }}
        </div>
    </div>
</body>

</html>