<html lang="de">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

        <title>{{ title }}</title>

        <link type="text/css" href="/css/normalize.css?v={{ core_version }}" />
        <link rel="stylesheet" type="text/css" href="/css/main.css?v={{ core_version }}" />
    </head>
    <body>
        <div id="wrap">
            <header id="header">
                <div class="top">
                    &nbsp; v.{{ core_version }}
                </div>
                <div class="title">
                    {{ core_name }}
                    <div class="subtitle">Derzeit in der Entwicklung!</div>
                </div>
                <nav id="nav">
                    <ul>
                        <li><a href="/">Hauptseite</a></li>
                        {% if core_account %}
                            <li><a href="/game/maindesk">Game</a></li>
                            <li><a href="/logout/{{ core_token }}">Ausloggen</a></li> 
                        {% else %}
                            <li><a href="/register">Registrieren</a></li> 
                            <li><a href="/login">Login</a></li> 
                        {% endif %}
                    </ul>
                    <div class="clear"></div>
                </nav>
            </header>

            <section id="content">
                <h1>{{ title }}</h1>
                    {% if infos %}
                    <div style="background-color: #3f3f3f; color: #cacaca; padding: 10px 15px;">
                        {% for info in infos %}
                            <div>{{ info|e }}</div>
                        {% endfor %}
                    </div>
                    {% endif %}
                    <noscript>
                        <div class="alert alert-error">
                            Bitte aktiviere JavaScript in deinem Browser.
                        </div>
                    </noscript>
                    {% block content %} ... {% endblock %}
            </section>

            <aside id="sidebar">
                <div class="panel">
                    <h3>Status</h3>  
                        <div style="text-align: center;" class="gamestate gamestate_1">
                            <span>Online</span>
                        </div>
                </div>
                {% if core_account %}
                    <div class="panel">
                        <h3>Eingeloggt</h3>  
                            <p>Hallo {{ core_account.getEMail }}</p>
                    </div>
                {% endif %}
            </aside>

            <footer id="footer">
                <div class="copyright">
                    &copy; 2021 &ndash; {{ "now"|date("Y") }} &bull; Made with <span style="color:#a30000;font-size:10px;">&#10084;</span> | 
                    <a href="/cookies" class="nav-link">Cookies</a> |
                    <a href="/privacy" class="nav-link">Datenschutzerklärung</a> |
                    <a href="/imprint" class="nav-link">Impressum</a>
                </div>
            </footer>

            <div id="debug" style="text-align:center;color:#333333;font-size:9px;margin-top:15px;">
                Rendered in {{ benchmark.executionTime }} - Memory usage: {{ benchmark.memoryPeakUsage }}
            </div>
        </div>
    </body>
</html>